footer {
  background: none;
  background-color: #1e1e1e;
  color: white;
  width: 95%;
  height: auto;
  padding: 40px;
}

.LogoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logomDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Img {
  width: 28.26px;
  height: 28.26px;
}

.fedN {
  margin-left: 8.19px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 1px 0.496831px 1px #f45725;
}

.bold {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 21px;
  margin-bottom: 17px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.pDiv {
  display: inline;
}

.leftDiv {
  width: 62%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.rightDiv {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 3px;
  font-family: "Manrope", sans-serif;
  color: #afafaf;
  font-size: 20px;
}

.social {
  margin-bottom: 50px;
}

.flex1 {
  /*margin: 15px;*/
  justify-content: space-between;
}

.mail {
  display: flex;
  flex-direction: column;
}

.newLet {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.impEmail {
  font-family: "Manrope", sans-serif;
  background: transparent;
  outline: none;
  border-style: none;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  margin: 22px 100px 19px 15px;
}

.impEmail::placeholder {
  color: #777777;
}

.getBtn {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: #f45725;
  color: white;
  padding: 18px 22px;
  border-style: none;
  border-radius: 10px;
  display: inline;
  width: 123px;
}

.emailDiv {
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin-top: 16px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #afafaf;
  padding: 1px;
}

.emailDivMobo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  margin-top: 16px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #afafaf;
  padding: 1px;
}

.socialIcons {
  margin-right: 20px;
}

.socialMobo {
  opacity: 0;
  visibility: hidden;
}

.mailMobo {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin-bottom: 40px;
}

.footerTail {
  margin-top: 60px;
  padding-top: 10px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #5c5c5a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftDivTail {
  color: white;
  display: flex;
  flex-direction: column;
}

.rightDivTail {
  color: #777777;
  display: flex;
  flex-direction: column;
}

#Confidence {
  text-align: center;
}

.Desktop{
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  .socialMobo {
    opacity: 1;
    visibility: visible;
  }
  .mailMobo {
    display: flex;
  }
  .social,
  .mail {
    display: none;
  }
  .leftDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .footerTail {
    flex-direction: column;
    justify-content: center;
  }
  .leftDivTail {
    margin-bottom: 10px;
    text-align: center;
  }
  .Desktop {
    text-align: center;
  }
  footer {
    width: 91%;
  }
}

/* @media only screen and (max-width: 1380px) {
  footer {
    width: 95%;
  }
} */

@media only screen and (max-width: 800px) {
  .leftDiv {
    flex-direction: column;
    text-align: left;
  }
  .leftDiv ul {
    /* text-align: left; */
    margin-bottom: 40px;
  }
  .impEmail {
    margin: 22px 0px 19px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .impEmail {
    width: 200px;
    margin: 22px 0px 19px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .socialIcons,
  .socialIconsLast {
    width: 21px;
    height: 21px;
  }
  .socialIcons {
    margin-right: 10px;
  }
  footer {
    width: 90%;
  }
  .footerTail {
    margin-right: 21.5px;
  }
}

@media only screen and (max-width: 420px) {
  footer {
    width: 88%;
  }
}

@media only screen and (max-width: 400px) {
  .leftDivTail p {
    margin-bottom: 5px;
  }
  .rightDivTail p {
    margin-bottom: 5px;
  }
  .mailMobo {
    width: 90%;
  }
  #Desktop {
    background-color: #f45725;
  }
}
