@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
.HmDiv {
  position: fixed;
  top: 0%;
  width: 97%;
  display: flex;
  height: 40px;
  padding: 20px 40px 60px 40px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.logoDivMobo {
  display: none;
}

.hamburgwerDiv {
  display: none;
  height: 20px;
  width: 24px;
}

.hamLine1 {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 1.96px;
  margin-bottom: 5px;
}

.hamLine2 {
  width: 75%;
  height: 2px;
  background-color: black;
  border-radius: 1.96px;
  margin-bottom: 5px;
}

.hamLine3 {
  width: 50%;
  height: 2px;
  background-color: black;
  border-radius: 1.96px;
}

.darkHamLine1 {
  width: 100%;
  height: 2px;
  background-color: #f7f7f7;
  border-radius: 1.96px;
  margin-bottom: 5px;
}

.darkHamLine2 {
  width: 75%;
  height: 2px;
  background-color: #f7f7f7;
  border-radius: 1.96px;
  margin-bottom: 5px;
}

.darkHamLine3 {
  width: 50%;
  height: 2px;
  background-color: #f7f7f7;
  border-radius: 1.96px;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 8.4%;
}

.fedP {
  margin-left: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: #0f0e0e;
  text-shadow: 1px 0.496831px 1px #f45725;
}

.rightDiv {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 72%;
}

.tabs {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.rightDiv p {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
}

.rightDiv p:hover {
  color: #f45725;
}

.LightDarkImg {
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 100%;
}

/* #darkImageMode {
  background: #f7f7f7;
  background-color: #f7f7f7;
} */

#darkModeImg {
  background-color: rgb(0, 0, 0);
  border-color: white;
  border-radius: 100%;
}

@media only screen and (max-width: 900px) {
  .HmDiv {
    justify-content: space-evenly;
    padding: 10px 40px 20px 40px;
  }
  .logoDiv {
    display: none;
  }
  .logoDivMobo {
    margin-left: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .hamburgwerDiv {
    display: block;
  }
  .tabs {
    display: none;
  }
  .LightDarkImg {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .logoDivMobo {
    margin-left: 0px;
  }
  .LightDarkImg {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .HmDiv {
    width: 85%;
  }
}

@media only screen and (max-width: 400px) {
  .hamburgwerDiv {
    margin-right: 48px;
  }
  #darkModeImg {
    margin-left: 50px;
    margin-right: 10px;
  }
  .LightDarkImg {
    margin-left: 50px;
    margin-right: 10px;
  }
  .HmDiv {
    padding: 10px 40px 20px 20px;
  }
}

@media only screen and (max-width: 1380px) {
  .HmDiv {
    width: 95%;
  }
}
